In [1]:
import pandas as pd
import numpy as np

Load data

In [2]:
data = pd.read_csv('../../data/popular_data_with_features.csv')

In [3]:
data["timestamp"]=pd.to_datetime(data["timestamp"]).dt.normalize().dt.tz_localize(None)

In [5]:
data.drop(columns=['Unnamed: 0'], inplace=True)

In [14]:
data

,infobox_key,property_name,template,timestamp,day_of_year,day_of_month,day_of_week,month_of_year,quarter_of_year,is_month_start,is_month_end,is_quarter_start,is_quarter_end,days_since_last_change,days_since_last_2_changes,days_since_last_3_changes,days_until_next_change,days_between_last_and_2nd_to_last_change,mean_change_frequency_all_previous,mean_change_frequency_last_3
0,216369130-0,name,infobox_company,2017-01-15,15,15,6,1,1,False,False,False,False,0,0,0,135,0,0.000000,0.000000
1,216369130-0,name,infobox_company,2017-05-30,150,30,1,5,2,False,False,False,False,135,0,0,488,0,135.000000,0.000000
2,216369130-0,name,infobox_company,2018-09-30,273,30,6,9,3,False,True,False,True,488,623,0,0,135,311.500000,0.000000
3,27792315-0,genre,infobox_album,2015-07-10,191,10,4,7,3,False,False,False,False,0,0,0,55,0,0.000000,0.000000
4,27792315-0,genre,infobox_album,2015-09-03,246,3,3,9,3,False,False,False,False,55,0,0,775,0,55.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6524481,134041145-0,spouse,infobox_person,2016-02-06,37,6,5,2,1,False,False,False,False,963,1226,2407,104,263,802.333333,802.333333
6524482,134041145-0,spouse,infobox_person,2016-05-20,141,20,4,5,2,False,False,False,False,104,1067,1330,475,963,627.750000,443.333333
6524483,134041145-0,spouse,infobox_person,2017-09-07,250,7,3,9,3,False,False,False,False,475,579,1542,275,104,597.200000,514.000000
6524484,134041145-0,spouse,infobox_person,2018-06-09,160,9,5,6,2,False,False,False,False,275,750,854,422,475,543.500000,284.666667
6524485,134041145-0,spouse,infobox_person,2019-08-05,217,5,0,8,3,False,False,False,False,422,697,1172,0,275,526.142857,390.666667

In [15]:
mydf = data[:100000].set_index('timestamp').groupby(['infobox_key', 'property_name', 'template']).apply(lambda x: x.reindex(pd.date_range(x.index.min(), x.index.max(), freq='D', name='timestamp'))).drop(['infobox_key', 'property_name', 'template'], axis=1).fillna(0)
mydf = mydf.reset_index()

In [16]:
mydf

,infobox_key,property_name,template,timestamp,day_of_year,day_of_month,day_of_week,month_of_year,quarter_of_year,is_month_start,is_month_end,is_quarter_start,is_quarter_end,days_since_last_change,days_since_last_2_changes,days_since_last_3_changes,days_until_next_change,days_between_last_and_2nd_to_last_change,mean_change_frequency_all_previous,mean_change_frequency_last_3
0,100483061-0,genre,infobox_musical_artist,2014-11-03,307.0,3.0,0.0,11.0,4.0,False,False,False,False,0.0,0.0,0.0,1047.0,0.0,0.0,0.0
1,100483061-0,genre,infobox_musical_artist,2014-11-04,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100483061-0,genre,infobox_musical_artist,2014-11-05,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100483061-0,genre,infobox_musical_artist,2014-11-06,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100483061-0,genre,infobox_musical_artist,2014-11-07,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16696548,99969368-0,reviews,infobox_album,2010-12-09,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16696549,99969368-0,reviews,infobox_album,2010-12-10,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16696550,99969368-0,reviews,infobox_album,2010-12-11,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16696551,99969368-0,reviews,infobox_album,2010-12-12,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16696552,99969368-0,reviews,infobox_album,2010-12-13,347.0,13.0,0.0,12.0,4.0,False,False,False,False,806.0,0.0,0.0,0.0,0.0,806.0,0.0

In [ ]:
mydf = data.set_index('timestamp').groupby(['infobox_key', 'property_name', 'template']).apply(lambda x: x.reindex(pd.date_range(x.index.min(), x.index.max(), freq='D', name='timestamp'))).drop(['infobox_key', 'property_name', 'template'], axis=1).fillna(0)
mydf = mydf.reset_index()
# crashed with >90 GB RAM usage --> not feasible