# Random Forest

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

Using build-in sklean dataset

In [34]:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                           random_state=0, shuffle=False)

In [38]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1])

In [35]:
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X, y)

RandomForestClassifier(max_depth=2, random_state=0)

In [36]:
print(clf.predict([[0, 0, 0, 0]]))

[1]

Using our data

In [71]:
df_pop_no_features = pd.read_csv('../../data/popular_data.csv')

In [3]:
from wikipedia_cleanup.data_processing import get_data_single, feature_generation

In [75]:
df_pop_no_features[(df_pop_no_features['infobox_key']=='254442624-0') & (df_pop_no_features['property_name']=='num_episodes')]

,Unnamed: 0,infobox_key,page_title,property_name,template,previous_value,current_value,timestamp,days_diff
6076895,59982411,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,"988 (as of November 6, 2009)","993 (as of November 13, 2009)",2009-11-13 22:39:01+00:00,5 days 00:59:13
6076896,59982412,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,"993 (as of November 13, 2009)","998 (as of November 20, 2009)",2009-11-21 10:13:10+00:00,7 days 11:34:09
6076897,59982413,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,"998 (as of November 20, 2009)","999 (as of December 03, 2009)",2009-12-04 22:27:36+00:00,13 days 12:14:26
6076898,59982414,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,"999 (as of December 03, 2009)","1000 (as of December 07, 2009)",2009-12-07 22:34:16+00:00,3 days 00:06:40
6076899,59982415,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,"1000 (as of December 07, 2009)","1003 (as of December 11, 2009)",2009-12-11 20:29:29+00:00,3 days 21:55:13
...,...,...,...,...,...,...,...,...,...
6078451,59983967,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,3380 + 8 primes times <small>{{as of|2019|08|2...,3381 + 8 primes times <small>{{as of|2019|08|2...,2019-08-24 12:53:45+00:00,1 days 11:37:15
6078452,59983968,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,3381 + 8 primes times <small>{{as of|2019|08|2...,3382 + 8 primes times <small>{{as of|2019|08|2...,2019-08-26 21:23:46+00:00,2 days 08:30:01
6078453,59983969,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,3382 + 8 primes times <small>{{as of|2019|08|2...,3383 + 8 primes times <small>{{as of|2019|08|2...,2019-08-27 11:11:07+00:00,0 days 13:47:21
6078454,59983970,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,3383 + 8 primes times <small>{{as of|2019|08|2...,3384 + 8 primes times <small>{{as of|2019|08|2...,2019-08-29 00:37:52+00:00,1 days 13:26:45
6078455,59983971,254442624-0,Amar en tiempos revueltos,num_episodes,infobox television,3385 + 8 primes times <small>{{as of|2019|08|2...,3386 + 8 primes times <small>{{as of|2019|08|3...,2019-08-30 00:06:46+00:00,0 days 23:28:54

In [6]:
df_pop['timestamp'] = pd.to_datetime(df_pop['timestamp'])

In [7]:
df_pop = feature_generation(df_pop)

In [13]:
df_pop.columns

Index(['Unnamed: 0', 'infobox_key', 'page_title', 'property_name', 'template',
       'previous_value', 'current_value', 'timestamp', 'days_diff',
       'day_of_year', 'day_of_month', 'day_of_week', 'month_of_year',
       'quarter_of_year', 'is_month_start', 'is_month_end', 'is_quarter_start',
       'is_quarter_end', 'days_since_last_change', 'days_since_last_2_changes',
       'days_since_last_3_changes', 'days_until_next_change',
       'days_between_last_and_2nd_to_last_change',
       'mean_change_frequency_all_previous', 'mean_change_frequency_last_3'],
      dtype='object')

In [14]:
df_pop.drop(columns=['Unnamed: 0','previous_value', 'current_value', 'days_diff', 'page_title'], inplace=True)

In [16]:
df_pop.replace(' ', '_', regex=True, inplace=True)

In [18]:
df_pop = pd.get_dummies(df_pop,columns=['property_name', 'template'])

In [19]:
df_pop

,infobox_key,timestamp,day_of_year,day_of_month,day_of_week,month_of_year,quarter_of_year,is_month_start,is_month_end,is_quarter_start,...,template_infobox_military_conflict,template_infobox_mlb_player,template_infobox_musical_artist,template_infobox_nfl_player,template_infobox_officeholder,template_infobox_person,template_infobox_school,template_infobox_settlement,template_infobox_single,template_infobox_television
0,216369130-0,2017-01-15,15,15,6,1,1,False,False,False,...,0,0,0,0,0,0,0,0,0,0
1,216369130-0,2017-05-30,150,30,1,5,2,False,False,False,...,0,0,0,0,0,0,0,0,0,0
2,216369130-0,2018-09-30,273,30,6,9,3,False,True,False,...,0,0,0,0,0,0,0,0,0,0
3,27792315-0,2015-07-10,191,10,4,7,3,False,False,False,...,0,0,0,0,0,0,0,0,0,0
4,27792315-0,2015-09-03,246,3,3,9,3,False,False,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6524481,134041145-0,2016-02-06,37,6,5,2,1,False,False,False,...,0,0,0,0,0,1,0,0,0,0
6524482,134041145-0,2016-05-20,141,20,4,5,2,False,False,False,...,0,0,0,0,0,1,0,0,0,0
6524483,134041145-0,2017-09-07,250,7,3,9,3,False,False,False,...,0,0,0,0,0,1,0,0,0,0
6524484,134041145-0,2018-06-09,160,9,5,6,2,False,False,False,...,0,0,0,0,0,1,0,0,0,0
6524485,134041145-0,2019-08-05,217,5,0,8,3,False,False,False,...,0,0,0,0,0,1,0,0,0,0

In [20]:
df_pop.to_csv('../../data/popular_data_with_features.csv')

In [23]:
sample = df_pop[(df_pop['infobox_key']=='254442624-0') & (df_pop['property_name_num_episodes'])]

In [25]:
sample.drop(columns='infobox_key', inplace=True)

/opt/homebrew/Caskroom/miniforge/base/envs/wikipedia/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [79]:
sample

,timestamp,day_of_year,day_of_month,day_of_week,month_of_year,quarter_of_year,is_month_start,is_month_end,is_quarter_start,is_quarter_end,...,template_infobox_military_conflict,template_infobox_mlb_player,template_infobox_musical_artist,template_infobox_nfl_player,template_infobox_officeholder,template_infobox_person,template_infobox_school,template_infobox_settlement,template_infobox_single,template_infobox_television
6076895,2009-11-13,317,13,4,11,4,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6076896,2009-11-21,325,21,5,11,4,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6076897,2009-12-04,338,4,4,12,4,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6076898,2009-12-07,341,7,0,12,4,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6076899,2009-12-11,345,11,4,12,4,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6078451,2019-08-24,236,24,5,8,3,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6078452,2019-08-26,238,26,0,8,3,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6078453,2019-08-27,239,27,1,8,3,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6078454,2019-08-29,241,29,3,8,3,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
6078455,2019-08-30,242,30,4,8,3,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1

In [30]:
train = sample[sample['timestamp']<'2019-01-01']

In [31]:
test = sample[sample['timestamp']>='2019-01-01']

In [34]:
train.drop(columns='timestamp', inplace=True)

/opt/homebrew/Caskroom/miniforge/base/envs/wikipedia/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
test.drop(columns='timestamp', inplace=True)

/opt/homebrew/Caskroom/miniforge/base/envs/wikipedia/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
X_train = train.drop(columns='days_until_next_change')
X_test = test.drop(columns='days_until_next_change')
y_train = train['days_until_next_change']
y_test = test['days_until_next_change']

In [78]:
train.columns

Index(['day_of_year', 'day_of_month', 'day_of_week', 'month_of_year',
       'quarter_of_year', 'is_month_start', 'is_month_end', 'is_quarter_start',
       'is_quarter_end', 'days_since_last_change', 'days_since_last_2_changes',
       'days_since_last_3_changes', 'days_until_next_change',
       'days_between_last_and_2nd_to_last_change',
       'mean_change_frequency_all_previous', 'mean_change_frequency_last_3',
       'property_name_birth_date', 'property_name_birth_place',
       'property_name_caps(goals)', 'property_name_caption',
       'property_name_club-update', 'property_name_clubnumber',
       'property_name_currentclub', 'property_name_genre',
       'property_name_image', 'property_name_misc', 'property_name_name',
       'property_name_num_episodes', 'property_name_occupation',
       'property_name_pcupdate', 'property_name_position',
       'property_name_released', 'property_name_reviews',
       'property_name_spouse', 'property_name_starring',
       'property_name_website', 'template_football_player_infobox',
       'template_infobox_actor', 'template_infobox_album',
       'template_infobox_baseball_biography', 'template_infobox_company',
       'template_infobox_cricketer', 'template_infobox_film',
       'template_infobox_football_biography',
       'template_infobox_football_biography_2',
       'template_infobox_football_club', 'template_infobox_military_conflict',
       'template_infobox_mlb_player', 'template_infobox_musical_artist',
       'template_infobox_nfl_player', 'template_infobox_officeholder',
       'template_infobox_person', 'template_infobox_school',
       'template_infobox_settlement', 'template_infobox_single',
       'template_infobox_television'],
      dtype='object')

Fitting + predictions

In [66]:
clf = RandomForestClassifier(random_state=0, n_estimators=1000)
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=1000, random_state=0)

In [67]:
preds = clf.predict(X_test)

In [68]:
preds

array([1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 3, 2, 1, 3,
       3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 3, 3, 1, 1, 4, 3, 1, 1, 1,
       1, 3, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 1,
       1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1,
       3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 1, 3, 1, 1, 1,
       1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 3,
       1, 1, 1, 3], dtype=int16)

In [69]:
y_test.values

array([1, 1, 4, 1, 1, 1, 1, 3, 1, 1, 2, 3, 2, 1, 1, 3, 3, 1, 4, 1, 2, 1,
       2, 1, 1, 1, 1, 3, 1, 1, 1, 1, 4, 1, 2, 1, 3, 2, 1, 1, 9, 1, 1, 1,
       1, 4, 1, 1, 2, 2, 1, 1, 1, 2, 3, 1, 1, 2, 3, 3, 3, 2, 1, 1, 3, 3,
       4, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 2, 1, 2, 2, 1, 2, 2, 2, 1, 2, 1,
       3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 4, 1, 1, 1, 1, 3, 2, 1, 9, 1, 6, 1,
       1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 3, 1, 4, 1, 2, 1, 2,
       1, 2, 1, 0], dtype=int16)

In [76]:
precision = sum(preds == y_test.values)/len(preds)

In [77]:
precision

0.6838235294117647